name: new Connect via VPN and Run Workflow

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "5 * * * *" # Runs every 8 minutes
  repository_dispatch:  # Trigger via HTTP
    types: [manual-trigger]  # Define a custom event type
  push:
    branches:
      - main

jobs:
  vpn-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install ODBC Driver 17
        run: |
          curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
          sudo apt-get update
          sudo ACCEPT_EULA=Y apt-get install -y msodbcsql17
          sudo apt-get install -y unixodbc-dev

      - name: Install OpenVPN
        run: sudo apt-get install -y openvpn 
        
      - name: Create VPN config file from secret
        run: |
          echo "${{ secrets.V_FILE }}" > config.ovpn

      - name: Create auth.txt
        env:
          VPN_USERNAME: ${{ secrets.VU }}
          VPN_PASSWORD: ${{ secrets.VP }}
        run: |
          echo "$VPN_USERNAME" > auth.txt
          echo "$VPN_PASSWORD" >> auth.txt

      - name: Start VPN Connection
        run: |
          sudo openvpn --config config.ovpn --auth-user-pass auth.txt --daemon
          sleep 30  

      # Now SSH key setup (AFTER VPN is connected)
      - name: Write SSH key to file
        run: |
          echo "${{ secrets.ROK }}" > rokl.pem
          chmod 600 rokl.pem

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.1' # Replace with your Python version, e.g., '3.9'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt # Ensure your repo has a requirements.txt
      - name: Run Python Script
        run: python sqlconn3.py
        env:   
          SSH_KEY_PATH: ./rokl.pem
          SSH_KEY: ${{ secrets.ROK }}
          MSH: ${{ secrets.MSH }}
          SSH: ${{ secrets.SSH }}
          SSU: ${{ secrets.SSU }}
          DBH: ${{ secrets.DBH }}
          MSU: ${{ secrets.MSU }}
          MSP: ${{ secrets.MSP }}
          MSN: ${{ secrets.MSN }}
          ASS: ${{ secrets.ASS }}
          ASD: ${{ secrets.ASD }}
          ASU: ${{ secrets.ASU }}
          ASP: ${{ secrets.ASP }}
